@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

:root{
    --primary-color : #39B8F3;
    
    --dark-gray : #ABAFAF
    
}

body{
    font-family: 'Noto Sans TC', sans-serif; 
    margin: 0px;
}
.container{
    padding: 0rem,1rem;
    
}



.container-center{
    max-width: 600px;
    margin: auto;
}

.link{
    
    background-color: #39B8F3;
    text-decoration:none;
   
    color: var(--primary-color);
    padding: 0.5rem,1rem;
    border-radius: 0.5rem;
    color:antiquewhite;


}
.link2{
    
    
    color: var(--primary-color);
 
    padding: 0.5rem,1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color) ;
    

  
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{

    display: inline;
    
    

    padding: 0rem,0.5rem;

}
.navigation{
    background-color: var(--primary-color);
    color: antiquewhite;
    padding: 1rem;
    border-top-left-radius: 1rem;

}
.navigation .nav-someone{
     font-weight: bold;
     
}

  .navigation .nav-pills{ 
      
      text-align: center;
      
      
      
  }

.navigation .link{
    color: antiquewhite;
    
    

}

.navigation .link-active{
    font-weight: bold;

}
.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
    
}
.hero .hero-heading{
    color: var(--dark-gray) ;

}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}
.section{
    padding: 2 rem;
}
.section h3{
    text-align: center;
   
}

.ofw{
    background-color: rgb(216, 216, 212);
}


footer{
    background-color: var(--primary-color);
    padding: 2rem ,1rem;
    text-align: center;
    color: antiquewhite;
     border-top-right-radius: 1rem;
}

.footer .link{
    color: antiquewhite;
}

.footer ul{
    padding-inline-start: 0px;

}


